img {
    max-width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    padding: 0;
    list-style: none;
}


section {
    padding: 1rem;
}
/* ============= slider__custom ============== */
.slider__custom {
}
.slick-list { 
    padding:45px 60px !important;
    margin-left:30px !important;
}

.slick-slide {
    opacity: .6;
    
}
.slider__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.slider__img {
    position: relative;
}
.slider__img img {
    border-radius: .5rem;
}
.slider__content--desc {
    display: none;
}

.slick-center {
    opacity: 1;
}
.slick-center .slider__img {
    position: relative;
    z-index: 100;
}
.slick-center .slider__img img{ 
    transition: .3s;
    transform: scale(1.4);  
    border-radius: .5rem;
}
.slider__desc {
    padding: 1rem;
}
.slick-center .slider__content--desc {
    position: absolute;
    width: 100%;
    left: -2rem;
    bottom: -1rem;
    display: block;
}

.slick-center .slider__desc--title {
    color: #fff;
}
.slick-center .slider__icons {
    margin: .5rem 0;
    color: #fff;
}
.slick-center .slider__icons img {
    display: inline-block;
    margin-right: .5rem;
}
.img__html {
    width: 25px;
}
.img__photoshop {
    width: 20px;
}
.slick-center .slider__view-button {
    text-decoration: none;
    color: inherit;
    background: #02343F;
    border-radius: .7rem;
    color: #F0EDCC;
    margin-top: .5rem;
    padding: 1rem;
    text-align: center;
    width: 150px;
    display: inline-block;
}

/* ============= arrow ============== */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,.2);
    border: none;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:after,
.slick-next:after
{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
}
.slick-prev:after {
    content:'\f053';
    color: #fff;
    font-size: 1rem;
}
.slick-next:after {
    content:'\f054';
    color: #fff;
    font-size: 1rem;
}

/* ============= dots ============== */
.slick-dots {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}
.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: .5rem;
    border: none;
}